 .u-section-1 {
  min-height: 837px;
}

.u-section-1 .u-image-1 {
  height: 267px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 30px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 0 calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 20px auto 30px calc(((100% - 1140px) / 2));
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    height: 231px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    height: 138px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 340px) / 2));
  }
}
