.u-section-1 .u-sheet-1 {
  min-height: 1536px;
}

.u-section-1 .u-text-1 {
  margin: 34px auto 0 0;
}

.u-section-1 .u-image-1 {
  height: 461px;
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 34px;
  margin-bottom: 0;
  height: auto;
  min-height: 1007px;
}